.border-image {
    border-radius: 30%
}

.shadow-border {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

input:hover {
    background-color: #FAF6F6;
}
.card:hover {
    background-color: #ccc;
}

a:hover {
    background-color: #5E669E;
    border-radius: 7px;
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}
