{% extends 'base.html' %}


{% block content %}

<div class="container text-center my-5">
   <h2>Все категории</h2>
         <div class="row">
            {% for category in categories %}
             {% set slug=category.slug %}
    <div class="col col-lg-3 col-md-6 col-sm-8 g-5">
          <div class="card" style="width: 18rem;">

  <img src="{{ url_for('account.media', filename=category.photo) }}" width="150px" height="150px" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ category.name }}</h5>
    <a href="{{ url_for('blog.posts_by_category', slug_category=slug) }}" class="btn btn-primary">Посмотреть</a>
  </div>
    </div>

</div>
   {% endfor %}

    </div>


</div>
{% endblock %}