{% extends 'base.html' %}


{% block content %}
<div class="container text-center my-5">
  <h2>Изменение пароль</h2>
  <br>
  <form class="shadow-border col-6 mx-auto py-3" method="post">
      {{ form.csrf_token }}
      <div class="col col-6 mx-auto">
          <p>{{ form.old_password(class='form-control', placeholder='Введите старый пароль') }}</p>
      </div>
      <div class="col col-6 mx-auto">
          <p>{{ form.new_password(class='form-control', placeholder='Введите новый пароль') }}</p>
      </div>
      <div class="col col-6 mx-auto">
         <p>{{ form.new_password_repeat(class='form-control', placeholder='Повторите новый пароль') }}</p>
      </div>
      <button class="btn btn-primary" type="submit">Изменить</button>
  </form>
</div>

{% endblock %}