{% extends 'base.html' %}


{% block content %}

<div class="container text-center my-5">
  <h2>Добавить категорию</h2>
    <br>
    <form class="shadow-border col-6 mx-auto py-3" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="col col-6 mx-auto">
            {{ form.name(class='form-control', placeholder='Название категории') }}
        </div>
        <div class="col col-6 mx-auto">
            {{ form.photo.label }}
            {{ form.photo(class='form-control') }}
        </div>
        <br>
        <p><button type="submit" class="btn btn-primary d-grid gap-2 col-4 mx-auto">Добавить</button></p>
    </form>
</div>
{% endblock %}